<!DOCTYPE html>
<html>
  <head>
    <title>login</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/navbar.css" />
    <link rel="stylesheet" href="/stylesheets/loglinks.css">


    <%-
    include("components/componentot/navComm")
    %>
  </head>
  <body class="<%=view=='L'?'lite':'body'%>">
    <%- include("components/nav", {loginName:loginName,massage:massage}) %>
    <h2 class="<%=view=='L'?'whitee':'black'%>">try to remember</h2>
    <p class="<%=view=='L'?'whitee':'black'%>">put your name and email </p>
    <div class="flexCenter">
      <div class="logli w100" id="logli">
        
        <div class="compLOG">
          <h2 class="<%=view=='L'?'whitee':'black'%>">forgot my password</h2>
          <br>
            <%- include("components/componentot/PasswordChange") %>

     <p class="<%=view=='L'?'whitee':'black'%>"><%=err%></p>

        </div>
      </div>
    
    </div>
  </body>
</html>
